{% extends 'base.html' %}

{# TODO: Replace EVENT NAME with the event's name #}
{% block title %}Event Details | EVENT NAME{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {# TODO: Replace EVENT NAME with the event's name #}
      <h2>{{ event['name'] }}</h2>

      {% if 'description' in event %}
        {{ event['description'] }}
       {% else %}
        This event does not have description
      {% endif %} 
      <p>
        THIS PAGE IS FOR FURTHER STUDY.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-4">
      {#
        TODO: Replace EVENT IMAGE URL with actual URL to one of the
        event images
      #}
      <img src="{{ event['images'[0]['url']]}}">

      <p>
        {#
          TODO: Replace EVENT TICKETMASTER URL with URL to event's
          Ticketmaster page
        #}
        <a href="{{ event['url'] }}" target="_blank">
          Go to Ticketmaster page
        </a>
      </p>
    </div>

    <div class="col">
      <h3>Start date</h3>
      {# TODO: Replace EVENT START DATE with event's start date #}
      <p>{{ event['dates']['start']['localDate']}}</p>

      <h3>Venues</h3>
      <ul>
        {#
          TODO: Remove placeholder <li> tag & loop over all event venues to
          generate an `li` element for each venue.

          Each `li` should contain the name of a venue.
        #}
        {% for singleVanue in vanues %}
        <li>{{ singleVanue['name']}}</li>
        {% endfor %}
      </ul>

      <h3>Classifications</h3>
      <ul>
        {#
          TODO: Remove placeholder <li> tag & loop over all event
          classifications to generate an `li` element for each classification.

          Each `li` should contain the name of the classification's *genre*.
        #}
        <li>PLACEHOLDER</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
